*{
    margin: 0;
}
  
@font-face{
    font-family: "fontuno";
    src: url("/productos_pets/css/fonts/Best\ School\ Font\ by\ Kelik\ \(7NTypes\).otf");
}
@font-face{
    font-family: "fontdos";
    src: url("/productos_pets/css/fonts/can\ dog\ tfb.ttf");
}
@font-face{
    font-family: "fonttres";
    src: url("/productos_pets/css/fonts/kitty\ cats\ tfb.ttf");
}

.header{
    background: rgb(255, 255, 255);
    padding: 1rem 0;
    position:fixed;box-shadow: 0px 0px 10px 5px rgb(180, 81, 0) ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header a{
    color: rgb(255, 123, 0);
    text-decoration: none;
}
.log-nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{font-size: 22px;
    display: inline-block;
    font-family: "fontuno";
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    font-weight: bold;
}
.navigation ul li a:hover{
    background: rgb(255, 116, 2);
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 15px;

}
.logo{
    font-family: "fontuno";
    letter-spacing: 5px;
    font-size:35px;
    padding-left: 135px;
    font-weight: bold;
}
#log{
    padding-top: 10px;
    width: 120px;
   position: absolute;padding-left: 30px;
   top: -15px;
}
#cart{
    width: 40px;
}
.gato{
    font-family: "fonttres";
    font-size: 4em;
}
.perro{
    font-family: "fontdos";
    font-size: 4em;
}

#port{
    width: 100%;
   padding-top: 115px;
    
}

#ventana{background-color: rgb(255, 194, 145);position: fixed;right: 0;width: 40%;height: 100%;top: 0;display: none;}
/* -------------------------------------------REDES SOCIALES--------------------------------------------------------------------------------*/
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}
.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}
.icon-facebook2{
	background: #2E406E;
}
.icon-twitter {
	background: #339DC5;
}
.icon-youtube {
	background: #E83028;
}
.icon-instagram {
	background: #3F60A5;
}
.icon-whatsapp {
	background: #25d366;
}
.icon-telegram {
	background: #0088CC;
}
.icon:first-child {
	border-radius: 1rem 0 0 0;
}
.icon:last-child {
	border-radius: 0 0 0 1rem;
}
.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}
#espace{
    padding-top: 7%;
    padding-left: 17%;
    margin: auto;
}

#main2{
    width: 40%;
    height: 7%;
    position: absolute;
    top: 35%;
    left: 30%;
}
#parr{
    position: relative;
    top: 30%;
    font-size: 18px;
    color: #FF8027;
}

#main3{
    width: 40%;
    height: 30%;
    position: absolute;
    top: 42%;
    left: 30%;
}
#input{
    width: 97%;
    height: 40%;
    position: relative;
    left: 1%;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.42);
}
#input2{
    width: 97%;
    height: 40%;
    position: relative;
    left: 1%;
    top: 5%;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    text-align: center;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.42);
}

#main4{
    width: 40%;
    height: 25%;
    position: absolute;
    top: 72%;
    left: 30%;
}
#parr2{
    width: 30%;
    position: relative;
    background: transparent;
    color: #FF8027;
    left: 50%;
    top: 20%;
    font-size: 17px;
    font-weight: bold;
}
#register{
    position: relative;
    color: #FF8027;
    background: transparent;
    left: 80%;
    top: 8%;
    cursor: pointer;
    font-weight: bold;
}
#lostpass{
    position: relative;
    right: 17%;;
    top: 8%;
    font-size: 17px;
    background: transparent;
    color: #FF8027;
    font-weight: bold;
}
#inicio{
    width: 98%;
    height: 50%;
    background: #f57b2a;
    position: relative;
    left: 1%;
    cursor: pointer;
    text-align: center;
    line-height: 200%;
    border-radius: 5px;
    border: 2px solid rgb(255, 205, 205);
    font-weight: bold;
    font-size: 30px;
    font-weight: bold;
}
#inicio:hover{
    background: #FF8027;
}

#back{
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    overflow: hidden;
}